docs/
dist
node_modules/
npm-debug.log
packages/**/node_modules
npm-debug.log*
packages/**/.env
*.log
*.cache
yarn-error.log
packages/**/.rpt2_cache
packages/**/.rts2_cache*
packages/**/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
.idea
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/Release
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.env.*
.DS_Store
yarn-error.log
.pnp/
.pnp.js
.yarn-integrity
report.*
*.backup